---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";
import { render } from "astro:content";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>

    <section>
      <Content />
    </section>
  </article>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    font-style: italic;
    color: var(--content-color-tertiary);
    margin: 0;
    margin-bottom: 16px;
    line-height: 1.5;
  }

  section {
    font-family: "Newsreader Variable", serif;
    p {
      font-size: 1.2rem;
      text-align: justify;
      line-height: 1.5;
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }

    p {
      margin-bottom: 24px;
    }
  }
</style>
