:root {
  --background-color: #141414;
  --title-color: #ffffff;
  --content-color-primary: #d1d1d6;
  --content-color-secondary: #a1a1aa;
  --content-color-tertiary: #6a7282;
  --border-color: #4a5565;
  --accent-color: #7f98ca;
}
