---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/base-layout.astro";
const posts = await getCollection("posts")
---

<BaseLayout title="Verso">
  {posts.map((post) => (
    <a href={`/posts/${post.id}`}>
      <div>
        <h2>{post.data.title}</h2>
        <p>{post.data.description}</p>
      </div>
    </a>
  ))}
</BaseLayout>

<style>
  div {
    border: 1px solid red;
    margin-bottom: 16px;
  }
</style>