---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/base-layout.astro";
import Post from "../components/post/post.astro";
import { sortByDate } from "../lib/sort-by-date/sort-by-date";

const posts = await getCollection("posts");
const sortedPosts = posts.sort((firstPost, secondPost) =>
  sortByDate(firstPost.data.launch_date, secondPost.data.launch_date)
);
---

<BaseLayout title="Verso">
  <section>
    {
      sortedPosts.map((post) => (
        <Post
          to={`/posts/${post.id}`}
          title={post.data.title}
          description={post.data.description}
          date={post.data.launch_date}
        />
      ))
    }
  </section>
</BaseLayout>

<style>
  div {
    border: 1px solid red;
    margin-bottom: 16px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a:not(:last-child) {
      padding-bottom: 16px;
      border-bottom: 1px solid var(--border-color);
    }
  }
</style>
