<header>
  <section>
    <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
      ><path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"
      ></path></svg
    >
    <h1>Verso</h1>
  </section>

  <nav>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/about">Sobre</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  section {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  h1 {
    font-size: 1.5rem;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
  }

  a,
  a:visited {
    text-decoration: none;
    color: var(--content-color-secondary);
    font-weight: 200;
  }
</style>
