---
import "@fontsource-variable/inter";
import "@fontsource-variable/newsreader";

import "../styles/base.css";

import Footer from "../components/footer/footer.astro";
import Header from "../components/header/header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--content-color-primary);
    font-family: "Inter Variable", sans-serif;
  }

  h1,
  h2 {
    font-family: "Newsreader Variable", serif;
  }

  main {
    padding: 0 20px;
    max-width: 50rem;
    margin: 0 auto;
  }
</style>
